<nav class="navbar">

	<ul>
		<li class="unc-cart-summary">
			<div class="unc-cart-summary__key">Total<br/>products</div>
			<div class="unc-cart-summary__value">{{ $ctrl.cartItems.totalProducts() }}</div>
		</li>
		<li class="unc-cart-summary">
			<div class="unc-cart-summary__key">Total<br/>cost</div>
			<div class="unc-cart-summary__value"><sup>$</sup>{{ $ctrl.cartItems.totalCost() | currency:"" }}</div>
		</li>
	</ul>

</nav>
	
<a ui-sref="recommendedProducts">recommended products</a>
<a ui-sref="cart">cart</a>