//todo itcss-style tidy

//settings
@import "common/common";

//elements
body {
	background-color: $bgColor;
}

input {
	width: 100%;
}

sup {
	font-size: 60%;
	font-weight: 400;
}

//components
.app {
	height: 100%;
}

.navbar {
	height: 6.5rem;
	background-color: $primaryColor;
	padding: 1rem;
}

.unc-container {
	width:85em;
	margin:5em auto;
}

.unc-card {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.26);
	background: #fff;
	margin-bottom: 1em;

	&+& {
		margin-left: 2em;
	}

}

.unc-product {
	position:relative;
	float: left;

	&__banner {
		background-color: #eafbfa;
		color: $primaryColor;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 1em;
		display: flex;
		text-align: center;
	}

	&__item {
		padding: 1em;
		padding-bottom: 7em;
		width: 18em;
		display: inline-block;
		position: relative;

		&+& {
			margin-left: 2em;
		}

	}

	&__title {
		height: 2em;
		font-weight: 400;
	}

	&__unit-cost {
		text-align: right;
	}

}

.unc-button {

	border: 1px solid #fff;

	&--primary {
		background-color: $primaryColor;
		color: #fff;
	}

	&--add {
		position:absolute;
		top: -.75em;
		right: .5em;
		font-size: 200%;
		height: 1.5em;
		width: 1.5em;
		border-radius: 999px;

	}
}


.unc-cart-summary {
	color: #fff;
	display: inline-block;

	& + & {
		border-left: 1px solid #fff;
		margin-left: 1.5em;
		padding-left: 1.5em;
	}

	&__key {
		text-transform: uppercase;
		font-size: .8em;
		margin-bottom: .7em;
	}

	&__value {
		font-size: 200%;
		font-weight: 300;
	}
}

.unc--featured {
	font-size: 200%;
	font-weight: 300;
}

.unc--annotation {
	opacity: .7;
	text-transform: none;
	font-weight: 400;
}


.unc-table {
	width: 100%;
	table-layout: fixed;
	//todo column width by content type

	thead {
		// th, td {
		vertical-align: top;
		text-transform: uppercase;
		font-size: 80%;
		font-weight: 700;
		// }
	}

	tr {
		border-top: 1px solid #ddd;
	}

	th, td {
		padding: 0.75em 1em 0.75em 0;

		&:first-child {
			padding-left: 1em;
		}
		&:last-child {
			padding-right: 1em;
		}
	}
}


//trumps
.unc--flex {
	flex: auto;
}


.unc-clearfix {
	zoom: 1;
}

.unc-clearfix:before,
.unc-clearfix:after {
	content: "";
	display: table;
}

.unc-clearfix:after {
	clear: both;
}