<navbar></navbar>

<div class="unc-container unc-clearfix">

	<div ng-repeat="_product in $ctrl.products" class="unc-card unc-product">

	<div ng-repeat="_item in _product.items" class="unc-product__item">

		<button ng-click="$ctrl.cartItems.addItem(_item)" class="unc-button unc-button--round unc-button--primary unc-button--add">&plus;</button>

		<img ng-src="{{ _item.imageUrl }}" style="width: 18em; height:18em;" />

		<h2 class="unc-product__title">{{ _item.title }}</h2>

		<div class="unc-product__unit-cost">
		<div class="unc--featured"><sup>$</sup>{{ _item.unitCost | currency:"" }}</div>
		<div class="unc--annotation">per unit</div>
		</div>

		<div class="unc--annotation">{{ _item.unitsInCartons }} units per carton</div>
		<div class="unc--annotation">({{ _item.unitsInCartons * _item.unitCost | currency }})</div>

	</div>


	<div ng-if="_product.items.length > 1" class="unc-product__banner">
		<div class="unc--flex">
			<div class="unc--featured">{{_product.items.length}} items</div>
			<div class="unc--annotation">sell well together</div>
		</div>

		<div class="unc--flex">
			<div class="unc--featured">{{_product.recommendation.currentLevel / _product.recommendation.maxLevel * 100}}%</div>
			<div class="unc--annotation">recommended*</div>
		</div>
	</div>

	</div>
</div>