<navbar></navbar>

<div class="unc-container">
	<table class="unc-table">
		<thead>
			<tr>
				<td>Image</td>
				<td>Name</td>
				<td>Unit cost</td>
				<td>Pack size<br/><span class="unc--annotation">No of Units</span></td>
				<td>Units in carton</td>
				<td>No. of cartons</td>
				<td>Value</td>
				<td>Actions</td>
			</tr>

			<tr ng-if="!$ctrl.cartItems.cartItems.length">
				<td colspan="8">Shopping cart empty, add some <a ui-sref="recommendedProducts">recommended products</a></td>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="_item in $ctrl.cartItems.cartItems">
				<td><img ng-src="{{ _item.imageUrl }}" style="width: 4em; height:4em;" /></td>
				<td>{{_item.title}}</td>
				<td>{{_item.unitCost | currency}}</td>
				<td>{{_item.packSize}}</td>
				<td>{{_item.unitsInCartons}}</td>
				<td><input type="number" ng-model="_item.qty" /></td>
				<td>{{_item.getPrice() | currency}}</td>
				<td><button ng-click="$ctrl.cartItems.removeItem(_item)">Delete</button></td>
			</tr>
		</tbody>
	</table>
</div>